@use "../../../app/styles/variables" as *;

.gallery {
  &__popup {
    max-width: 100vw;
    max-height: 100vh;
  }
  &__popupContent {
    display: flex;
  }

  &__imgWrapper {
    border: none;
    display: flex;
    justify-content: center;
  }
  &__img {
    height: 100%;
    width: auto;
    border: 2px solid $color-white-full;
    object-fit: contain;
    object-position: center;
  }
}