@use "@/shared/styles/variables" as *;

.popup {
  width: 30vw;
  height: 20vh;
  min-width: 320px;
  min-height: 180px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__buttonsWrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: end;
  }

  &__cancel {
    color: $color-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  &__confirm {
    color: $color-white-full;
    background-color: $color-accent;
    padding: 10px 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease;

    &:hover, &:focus {
      background-color: $color-accent-hover;
    }
  }
}