@use "@/shared/styles/variables" as *;

.header {
  &__title {
    color: $color-white-full;
    flex: 1;
  }

  &__button {
    padding: 6px;
    transition: color, background-color 0.3s ease-in;
    border-radius: 50%;
    display: flex;
    justify-content: end;

    &:hover {
      color: $color-white-hover;
    }

    &._isOpen {
      background-color: $color-white-full;
      color: $color-accent;
      &:hover {
        color: $color-accent-hover;
      }
    }
  }
}
