*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-full: #FDFDFD;
  --color-white-light: #F6F6F8;
  --color-white-blue: #F0F1F5;
  --color-black: #26282C;
  --color-accent: #176EF9;
  --color-gray-light: #A5ADBA;
  --color-gray-dark: #7B8493;

}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 8px;
}
.messages-container__author {
  opacity: 0.7;
}
.messages-container__message {
  list-style-type: none;
  max-width: 90%;
  margin: 4px 0;
  padding: 4px 12px;
  border-radius: 8px 8px 0 8px;
  background: var(--color-accent);
  color: var(--color-white-full);
}
.messages-container__message_user {
  background: var(--color-white-full);
  color: var(--color-black);
  align-self: flex-start;
  border-radius: 8px 8px 8px 0;
}
.messages-container__timestamp {
  font-size: 0.7em;
  color: var(--color-white-blue);
  opacity: 0.5;
  display: block;
  text-align: right;
}
.messages-container__message_user .messages-container__timestamp {
  color: var(--color-gray-dark);
}

.actions {
  position: absolute;
  display: none;
  border: 1px solid var(--color-gray-light);
  padding: 4px 8px;
  background: var(--color-white-full);
  border-radius: 8px;
  top: 90px;
}
.actions_active {
  display: block;
}
.actions__elem {
  cursor: pointer;
  border: none;
  background: none;
}
