@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.form {
  @include form($row-gap: 32px);

  &__userPreview {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__userInfo {
    border: 1px solid $color-gray-light;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
  }
}