*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-full: #FDFDFD;
  --color-white-light: #F6F6F8;
  --color-white-blue: #F0F1F5;
  --color-white-hover: #dfe2e9;
  --color-black: #26282C;
  --color-accent: #176ef9;
  --color-accent-hover: #458BFA;
  --color-gray-light: #A5ADBA;
  --color-gray-dark: #7B8493;

}

button {
  cursor: pointer;
  color: inherit;
  border: none;
}

.new-chat-button {
  background-color: var(--color-accent);
  color: var(--color-white-full);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: background-color 0.3s ease-in;
}
.new-chat-button:hover {
  animation: pulse 2s infinite;
  background-color: var(--color-accent-hover);
}
.new-chat-button.new-chat-button:active {
  background-color: var(--color-accent-hover);
}
.new-chat-button span {
  font-size: 2em;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 110, 249, 0.4);
  }
  90% {
    box-shadow: 0 0 0 10px rgba(23, 110, 249, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(23, 110, 249, 0);
  }
}
