@use "../../app/styles/variables" as *;

.form {
  width: 100%;
  position: relative;
  display: flex;
  padding: 10px 12px;
  background: $color-white-blue;
  align-items: center;

  &__fileInput {
    display: none;
  }

  &__input {
    resize: none;
    padding: 12px 16px;
    border: 0;
    outline: none;
    flex: 1;
    font-size: inherit;
    background: $color-white-full;
    border-radius: 20px;
  }

  &__button {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background: $color-accent;
    border: none;
    border-radius: 50%;
    width: 0px;
    height: 40px;
    place-items: center;
    transition: margin, width, opacity 0.3s ease-in, visibility 0s 0.3s;

    &_active {
      display: grid;
      opacity: 1;
      visibility: visible;
      width: 40px;
      margin-left: 12px;
      transition: margin, width, opacity 0.3s ease-in, visibility 0s 0s;
    }
  }

  &__icon {
    color: $color-white-full;
    padding-left: 3px;
    line-height: 40px;
  }

  &__file {
    margin-right: 10px;
    position: relative;
    height: 24px;
    color: $color-gray-dark;
    transition: color 0.2s ease;

    &:hover {
      color: $color-black;
    }
  }

  &__voice {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    color: $color-gray-dark;
    transition: color 0.2s ease;

    svg {
      width: 26px;
      height: 26px;
    }

    &:hover {
      color: $color-black;
    }
  }

  &__actionItem {
    display: flex;
    place-items: center;
    padding: 8px 12px;
    border-radius: 12px;
    column-gap: 4px;
    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: $color-white-blue;
    }
  }

  &__actionIcon {
    color: $color-gray-light;
  }
}

.attachments {
  display: flex;
  align-items: end;
  column-gap: 6px;
  padding-left: 46px;
  overflow-x: scroll;
  overflow-y: clip;
  scrollbar-width: none;
  height: 32px;
  min-height: 32px;
}
