@use "@/shared/styles/variables" as *;

.dialog {
  height: 80px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  position: relative;
  border-bottom: 1px solid $color-white-blue;
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $color-white-light;
  }

  &:active {
    background-color: $color-white-blue;
  }

  &__avatar {
    width: 60px;
    height: 60px;
  }

  &__user {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-self: stretch;
    justify-content: space-evenly;
    flex: 1;
    overflow: hidden;
  }

  &__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    flex-shrink: 0;
  }

  &__lastMessage {
    font-size: 0.9em;
    color: $color-gray-dark;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    align-items: end;
  }

  &__last-messageTime {
    font-size: 0.9em;
    color: $color-gray-light;
  }

  &__checkMark {
    color: $color-accent;
  }

  &__unread {
    color: $color-white-full;
    background: $color-accent;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }
}
