$color-white-full: #FDFDFD;
$color-white-light: #F6F6F8;
$color-white-blue: #F0F1F5;
$color-white-hover: #dfe2e9;
$color-black: #26282C;
$color-accent: #176EF9;
$color-accent-hover: #458BFA;
$color-gray-light: #A5ADBA;
$color-online: #51D593;
$color-avatar: #c1e0e7;
$color-gray-dark: #7B8493;
$color-error: #ff5858;
$color-error-hover: #fa5e5e;
