@use "@/app/styles/variables" as *;

.popup {
  position: relative;
  background-color: $color-white-full;
  min-width: 200px;
  min-height: 100px ;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._xs {
    width: 20vw;
    height: 20vh;
  }
  &._sm {
    width: 35vw;
    height: 35vh;
  }
  &._md {
    width: 50vw;
    height: 50vh;
  }
  &._lg {
    width: 75vw;
    height: 75vh;
  }
  &._xl {
    width: 90vw;
    height: 90vh;
  }

  &__content {
    overflow-y: auto;
  }

  &__header {
    display: flex;
    background-color: $color-white-full;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $color-white-full;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $color-accent;
    transition: background-color 0.2s ease;

    &:hover, &:focus {
      background-color: $color-accent-hover;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}