@use "@/shared/styles/variables" as *;

.error {
  display: flex;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  row-gap: 16px;
  height: 100vh;

  &__button {
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: $color-accent;
    color: $color-white-full;

    &._noAccent {
      color: $color-accent;
      border: 2px solid $color-accent;
      background-color: transparent;
    }
  }

  &__details {
    color: $color-gray-light;
  }
}

.icon.icon {
  width: 4em;
  height: 4em;
  color: $color-error;
}