@use "@/app/styles/variables.scss" as *;

.header {
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0 16px;
  width: 100vw;
  overflow: hidden;

  &.colored {
    background-color: $color-accent;
    color: $color-white-full;
  }

  &.white {
    background-color: $color-white-full;
    color: $color-black;
  }

  &>*:nth-child(2) {
    flex: 1;
  }
}
