*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-full: #FDFDFD;
  --color-white-light: #F6F6F8;
  --color-white-blue: #F0F1F5;
  --color-white-hover: #dfe2e9;
  --color-black: #26282C;
  --color-accent: #176EF9;
  --color-accent-hover: #458BFA;
  --color-gray-light: #A5ADBA;
  --color-gray-dark: #7B8493;

}

chat-header {
  position: fixed;
  top: 0;
  width: 100%;
}

messages-list {
  background: var(--color-white-blue);
  flex: 1;
  padding: 60px 0;
}

message-input {
  position: fixed;
  bottom: 0;
  width: 100%;
}
