$color-white-full: #FDFDFD;
$color-white-light: #F6F6F8;
$color-white-blue: #F0F1F5;
$color-white-hover: #dfe2e9;
$color-black: #26282C;
$color-accent: #176EF9;
$color-accent-hover: #458BFA;
$color-gray-light: #A5ADBA;
$color-gray-dark: #7B8493;
