{
  "singleQuote": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "endOfLine": "auto",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/*.s?{c,cs}s?(|.module)",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
